In [1]:
import pandas as pd
from sqlalchemy import create_engine
import mysql.connector

In [2]:
# === STEP 1: Extract from CSV ===
csv_path = "Downloads/Retail_Transactions_Dataset.csv"  # Adjust this to your file's location
df = pd.read_csv(csv_path)

In [3]:
# Preview to confirm extraction
print("Preview of raw data:", df.head())

Preview of raw data:    Transaction_ID                 Date      Customer_Name  \
0      1000000000  2022-01-21 06:27:29       Stacey Price
1      1000000001  2023-03-01 13:01:21   Michelle Carlson
2      1000000002  2024-03-21 15:37:04        Lisa Graves
3      1000000003  2020-10-31 09:59:47  Mrs. Patricia May
4      1000000004  2020-12-10 00:59:59     Susan Mitchell

                                             Product  Total_Items  Total_Cost  \
0        ['Ketchup', 'Shaving Cream', 'Light Bulbs']            3       71.65
1  ['Ice Cream', 'Milk', 'Olive Oil', 'Bread', 'P...            2       25.93
2                                        ['Spinach']            6       41.49
3                             ['Tissues', 'Mustard']            1       39.34
4                                      ['Dish Soap']           10       16.42

   Payment_Method           City        Store_Type  Discount_Applied  \
0  Mobile Payment    Los Angeles    Warehouse Club              True
1            Cash  San Francisco   Specialty Store              True
2     Credit Card        Houston  Department Store              True
3  Mobile Payment        Chicago          Pharmacy              True
4      Debit Card        Houston   Specialty Store             False

  Customer_Category  Season                   Promotion
0         Homemaker  Winter                         NaN
1      Professional    Fall      BOGO (Buy One Get One)
2      Professional  Winter                         NaN
3         Homemaker  Spring                         NaN
4       Young Adult  Winter  Discount on Selected Items

In [4]:
# Rename 'Date' to 'Date_transaction' for MySQL compatibility
df.rename(columns={'Date': 'Date_transaction'}, inplace=True)

In [5]:
# Convert 'Date_transaction' column to proper datetime format (in case it's not)
df['Date_transaction'] = pd.to_datetime(df['Date_transaction'], format='%Y-%m-%d %H:%M:%S')

In [6]:
# === STEP 2: Load CSV Data into MySQL (Staging) ===
# Connect to MySQL
mysql_conn = mysql.connector.connect(
    host="localhost",
    user="root",  # Your MySQL user
    password="yomi1961",  # Your MySQL password
    database="retail_transactions_staging"
)

In [7]:
# Step 2: Create SQLAlchemy engine
engine = create_engine("mysql+mysqlconnector://root:yomi1961@localhost:3306/retail_transactions_staging")

In [8]:
# Step 3: Insert the cleaned DataFrame into MySQL
# Upload in chunks
df.to_sql(
    name='raw_transactions',
    con=engine,
    if_exists='replace',
    index=False,
    chunksize=500  # Avoid large single-packet inserts
)

print("Data loaded into MySQL (raw_transactions)")

Data loaded into MySQL (raw_transactions)

In [9]:
df.head()

,Transaction_ID,Date_transaction,Customer_Name,Product,Total_Items,Total_Cost,Payment_Method,City,Store_Type,Discount_Applied,Customer_Category,Season,Promotion
0,1000000000,2022-01-21 06:27:29,Stacey Price,"['Ketchup', 'Shaving Cream', 'Light Bulbs']",3,71.65,Mobile Payment,Los Angeles,Warehouse Club,True,Homemaker,Winter,NaN
1,1000000001,2023-03-01 13:01:21,Michelle Carlson,"['Ice Cream', 'Milk', 'Olive Oil', 'Bread', 'P...",2,25.93,Cash,San Francisco,Specialty Store,True,Professional,Fall,BOGO (Buy One Get One)
2,1000000002,2024-03-21 15:37:04,Lisa Graves,['Spinach'],6,41.49,Credit Card,Houston,Department Store,True,Professional,Winter,NaN
3,1000000003,2020-10-31 09:59:47,Mrs. Patricia May,"['Tissues', 'Mustard']",1,39.34,Mobile Payment,Chicago,Pharmacy,True,Homemaker,Spring,NaN
4,1000000004,2020-12-10 00:59:59,Susan Mitchell,['Dish Soap'],10,16.42,Debit Card,Houston,Specialty Store,False,Young Adult,Winter,Discount on Selected Items

In [10]:
import ast

In [11]:
# === STEP 3: Transform the Data ===
def transform_data(df):
    
    # 1. Rename 'Date' column to 'Date_transaction'
    df = df.rename(columns={'Date': 'Date_transaction'})
    
    # 2. Convert 'Date_transaction' to datetime
    df['Date_transaction'] = pd.to_datetime(df['Date_transaction'], errors='coerce')
    
    # 3. Extract Invoice Month
    df['InvoiceMonth'] = df['Date_transaction'].dt.to_period("M").astype(str)
    
    # 4. Clean 'Discount_Applied': "TRUE" -> True, "FALSE"/None -> False
    df['Discount_Applied'] = df['Discount_Applied'].astype(str).str.upper().replace({
        'TRUE': True, 'FALSE': False, 'NONE': False, '': False
    })
    
    # 5. Clean 'Promotion': Replace 'None' or empty strings with np.nan
    df['Promotion'] = df['Promotion'].replace(['None', 'NONE', '', 'nan'], np.nan)
    
    # 6. Ensure 'Total_Cost' is float
    df['Total_Cost'] = pd.to_numeric(df['Total_Cost'], errors='coerce')
    
    # 7. Standardize casing for 'Customer_Category', 'Store_Type', etc.
    df['Customer_Category'] = df['Customer_Category'].str.title()
    df['Store_Type'] = df['Store_Type'].str.title()
    df['Payment_Method'] = df['Payment_Method'].str.title()
    
    # 8. Create derived field: Avg_Cost_Per_Item
    df['Avg_Cost_Per_Item'] = df['Total_Cost'] / df['Total_Items']
    
    # 9. Extract Day of Week & Hour
    df['DayOfWeek'] = df['Date_transaction'].dt.day_name()
    df['Hour'] = df['Date_transaction'].dt.hour
    
    # 10. Group By
    df_summary = df.groupby(
        ["InvoiceMonth", "Payment_Method", "Season", "Store_Type", "Customer_Category"]
    ).agg({
        "Total_Cost": "sum",
        "Transaction_ID": "count",
        "Total_Items": "sum"
    }).reset_index().rename(columns={
        "Transaction_ID": "Total_Transactions", 
        "Total_Items": "Total_Items_Sold"
    })

    return df, df_summary

  
def explode_products(df):
    import ast
    import pandas as pd

    # Safely parse the string list into a Python list
    df['Product_List'] = df['Product'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else [])

    # Drop the original 'Product' column to avoid duplicates
    df = df.drop(columns=['Product'])

    # Explode the Product_List into individual rows
    df_exploded = df.explode('Product_List')

    # Rename Product_List to Product
    df_exploded = df_exploded.rename(columns={'Product_List': 'Product'})

    # Check if 'Product' column is a Series
    if isinstance(df_exploded['Product'], pd.Series):
        print("Column 'Product' exists.")
        print("First few entries in 'Product' column before conversion:")
        print(df_exploded['Product'].head())
        print("Data type of 'Product' column before conversion:")
        print(df_exploded['Product'].dtype)

        # Convert to string and clean
        df_exploded['Product'] = df_exploded['Product'].astype(str).str.strip().str.title()
        print("Data type of 'Product' column after conversion:")
        print(df_exploded['Product'].dtype)
    else:
        raise ValueError("'Product' column is not a Series.")

    return df_exploded


    

def summarize_by_city(df):
    df_city = df.groupby("City").agg({
        "Total_Cost": "sum",
        "Transaction_ID": "count",
        "Total_Items": "sum"
    }).reset_index().rename(columns={
        "Total_Cost": "Total_Revenue",
        "Transaction_ID": "Total_Transactions",
        "Total_Items": "Total_Items_Sold"
    })
    
    return df_city

In [12]:
import numpy as np

In [13]:
# df_transformed, df_summary_transformed = transform_data(df)
df_cleaned, df_summary = transform_data(df)
df_city_summary = summarize_by_city(df_cleaned)
df_exploded = explode_products(df_cleaned)

/var/folders/tq/4p5wnycn1xs5hzbnr46tqxpw0000gn/T/ipykernel_26098/791091534.py:14: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Discount_Applied'] = df['Discount_Applied'].astype(str).str.upper().replace({

Column 'Product' exists.
First few entries in 'Product' column before conversion:
0          Ketchup
0    Shaving Cream
0      Light Bulbs
1        Ice Cream
1             Milk
Name: Product, dtype: object
Data type of 'Product' column before conversion:
object
Data type of 'Product' column after conversion:
object

In [14]:
df_cleaned.head()

,Transaction_ID,Date_transaction,Customer_Name,Product,Total_Items,Total_Cost,Payment_Method,City,Store_Type,Discount_Applied,Customer_Category,Season,Promotion,InvoiceMonth,Avg_Cost_Per_Item,DayOfWeek,Hour,Product_List
0,1000000000,2022-01-21 06:27:29,Stacey Price,"['Ketchup', 'Shaving Cream', 'Light Bulbs']",3,71.65,Mobile Payment,Los Angeles,Warehouse Club,True,Homemaker,Winter,NaN,2022-01,23.883333,Friday,6,"[Ketchup, Shaving Cream, Light Bulbs]"
1,1000000001,2023-03-01 13:01:21,Michelle Carlson,"['Ice Cream', 'Milk', 'Olive Oil', 'Bread', 'P...",2,25.93,Cash,San Francisco,Specialty Store,True,Professional,Fall,BOGO (Buy One Get One),2023-03,12.965000,Wednesday,13,"[Ice Cream, Milk, Olive Oil, Bread, Potatoes]"
2,1000000002,2024-03-21 15:37:04,Lisa Graves,['Spinach'],6,41.49,Credit Card,Houston,Department Store,True,Professional,Winter,NaN,2024-03,6.915000,Thursday,15,[Spinach]
3,1000000003,2020-10-31 09:59:47,Mrs. Patricia May,"['Tissues', 'Mustard']",1,39.34,Mobile Payment,Chicago,Pharmacy,True,Homemaker,Spring,NaN,2020-10,39.340000,Saturday,9,"[Tissues, Mustard]"
4,1000000004,2020-12-10 00:59:59,Susan Mitchell,['Dish Soap'],10,16.42,Debit Card,Houston,Specialty Store,False,Young Adult,Winter,Discount on Selected Items,2020-12,1.642000,Thursday,0,[Dish Soap]

In [15]:
df_summary.head()

,InvoiceMonth,Payment_Method,Season,Store_Type,Customer_Category,Total_Cost,Total_Transactions,Total_Items_Sold
0,2020-01,Cash,Fall,Convenience Store,Homemaker,1410.51,29,156
1,2020-01,Cash,Fall,Convenience Store,Middle-Aged,1885.66,31,181
2,2020-01,Cash,Fall,Convenience Store,Professional,1434.48,28,150
3,2020-01,Cash,Fall,Convenience Store,Retiree,1628.61,24,156
4,2020-01,Cash,Fall,Convenience Store,Senior Citizen,1359.06,29,173

In [16]:
df_city_summary.head()

      City  Total_Revenue  Total_Transactions  Total_Items_Sold
0  Atlanta     5202731.84               99066            546229
1   Boston     5263307.96              100566            552389
2  Chicago     5263187.45              100059            551025
3   Dallas     5277111.53              100559            552191
4  Houston     5247054.78              100050            550148

In [17]:
df_exploded

,Transaction_ID,Date_transaction,Customer_Name,Total_Items,Total_Cost,Payment_Method,City,Store_Type,Discount_Applied,Customer_Category,Season,Promotion,InvoiceMonth,Avg_Cost_Per_Item,DayOfWeek,Hour,Product
0,1000000000,2022-01-21 06:27:29,Stacey Price,3,71.65,Mobile Payment,Los Angeles,Warehouse Club,True,Homemaker,Winter,NaN,2022-01,23.883333,Friday,6,Ketchup
0,1000000000,2022-01-21 06:27:29,Stacey Price,3,71.65,Mobile Payment,Los Angeles,Warehouse Club,True,Homemaker,Winter,NaN,2022-01,23.883333,Friday,6,Shaving Cream
0,1000000000,2022-01-21 06:27:29,Stacey Price,3,71.65,Mobile Payment,Los Angeles,Warehouse Club,True,Homemaker,Winter,NaN,2022-01,23.883333,Friday,6,Light Bulbs
1,1000000001,2023-03-01 13:01:21,Michelle Carlson,2,25.93,Cash,San Francisco,Specialty Store,True,Professional,Fall,BOGO (Buy One Get One),2023-03,12.965000,Wednesday,13,Ice Cream
1,1000000001,2023-03-01 13:01:21,Michelle Carlson,2,25.93,Cash,San Francisco,Specialty Store,True,Professional,Fall,BOGO (Buy One Get One),2023-03,12.965000,Wednesday,13,Milk
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999998,1000999998,2023-10-17 05:50:40,Michael Rodriguez,3,23.48,Debit Card,San Francisco,Supermarket,True,Retiree,Winter,BOGO (Buy One Get One),2023-10,7.826667,Tuesday,5,Coffee
999998,1000999998,2023-10-17 05:50:40,Michael Rodriguez,3,23.48,Debit Card,San Francisco,Supermarket,True,Retiree,Winter,BOGO (Buy One Get One),2023-10,7.826667,Tuesday,5,Mop
999999,1000999999,2020-06-15 11:58:49,Jennifer Davis,8,44.12,Credit Card,Atlanta,Pharmacy,False,Professional,Fall,Discount on Selected Items,2020-06,5.515000,Monday,11,Trash Cans
999999,1000999999,2020-06-15 11:58:49,Jennifer Davis,8,44.12,Credit Card,Atlanta,Pharmacy,False,Professional,Fall,Discount on Selected Items,2020-06,5.515000,Monday,11,Mop
999999,1000999999,2020-06-15 11:58:49,Jennifer Davis,8,44.12,Credit Card,Atlanta,Pharmacy,False,Professional,Fall,Discount on Selected Items,2020-06,5.515000,Monday,11,Jam

In [18]:
# Set your PostgreSQL credentials

from sqlalchemy import create_engine

db_user = "postgres"
db_password = "yomi1961"
db_host = "localhost"
db_port = "5432"
db_name = "retail_warehouse"

# Create SQLAlchemy engine
engine = create_engine(f"postgresql+psycopg2://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}")

# Save new dataframes to PostgreSQL (replace existing tables)
df_cleaned.to_sql("transactions", engine, if_exists="replace", index=False)
df_summary.to_sql("summary_metrics", engine, if_exists="replace", index=False)
df_city_summary.to_sql("city_summary", engine, if_exists="replace", index=False)
df_exploded.to_sql("exploded_products", engine, if_exists="replace", index=False)

print("All dataframes successfully uploaded and replaced existing tables in PostgreSQL!")

print("Data successfully loaded into PostgreSQL!")

All dataframes successfully uploaded and replaced existing tables in PostgreSQL!
Data successfully loaded into PostgreSQL!